
.navbar{
    font-size: 30px;
    color: #fff;
    background-color: #7827E6;
    text-align: center;
    width: 100%;
   
  
}
.block{
    /* padding: 20px; */
    font-size:45px;
    font-weight: 800;
    margin-top: 1.5rem;

}

